---
import Layout from "@components/Layout/index.astro";
---

<Layout title="Les petits plats">

 <header class="enseigne">
  <img src="./assets/toque.svg" alt="logo de l'enseigne" />
  <h1>Les petits plats</h1>
 </header>

 <main class="main">
  <form id="form-recherche" action="#">

   <label for="chercher-recette" class="label-chercher-recette">
    <input type="search" value="" class="chercher-recette" name="chercher-recette" id="chercher-recette" placeholder="Rechercher une recette" />
    
    <button class="loupe" name="loupe" id="loupe" type="submit">
      <img src="./assets/loupe.svg" alt="loupe" />
    </button>

   </label>

   <div class="list-tags"></div>

   <div class="form-criteres">

    <label class="label-critere label-ingredient" for="ingredients">
      <span class="arrow-box">
        <input class="input-detail" type="search" value="" name="ingredients" id="ingredients" placeholder="Ingrédients" autocomplete="off" />
        <img class="icon-arrow" src="./assets/arrow_down.svg" alt="" />
        <img class="icon-arrow" src="./assets/arrow_up.svg" alt="" />
      </span>
      <div class="list-autocomplete list_INGREDIENTS"></div>
    </label>

    <label class="label-critere label-appareils" for="appareils">
      <span class="arrow-box">
        <input class="input-detail" type="search" value="" name="appareils" id="appareils" placeholder="Appareils" autocomplete="off" />
        <img class="icon-arrow" src="./assets/arrow_down.svg" alt="" />
        <img class="icon-arrow" src="./assets/arrow_up.svg" alt="" />
      </span>
      <div class="list-autocomplete list_APPAREILS"></div>
    </label>

    <label class="label-critere label-ustensiles" for="ustensiles">
      <span class="arrow-box">
        <input class="input-detail" type="search" value="" name="ustensiles" id="ustensiles" placeholder="Ustensiles" autocomplete="off" />
        <img class="icon-arrow" src="./assets/arrow_down.svg" alt="" />
        <img class="icon-arrow" src="./assets/arrow_up.svg" alt="" />
      </span>
      <div class="list-autocomplete list_USTENCILES"></div>
    </label>

   </div>

   <div class="resultats"></div>

  </form>
 </main>
 
</Layout>